
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header img{
    border-radius: 50%;
}


.menu button{
    padding: 0.7em;
}

body{
    margin: auto;
    width: 80%;
}
main{
    margin: auto;
    padding: 1em;
    background-color: rgb(24, 77, 139);
}

main img{
    width: 30%;
    display: flex;
}

.imgmain{
    display:flex;
    justify-content: center;
    margin-top: 0.7em;
    margin-bottom: 0.7em;
}

.contenido{
    display: flex;
}

.parrafoleft{
    padding: 0.6em;
    border-right: 3px solid orange;
    overflow: auto;
}

.parraforight{
    height: 20em;
    overflow: auto;        
    padding: 0.6em;    
    border-right: 3px solid orange;
}

@media screen (max-width: 320px){
    header{
        width: 80%;
    }
}