* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

header {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

header img {
  border-radius: 50%;
  width: 90%; }

.menu button {
  padding: 0.4em; }

body {
  margin: auto;
  width: 80%; }

main {
  margin: auto;
  padding: 1em;
  background-color: #184d8b; }

main img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.imgmain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.7em;
  margin-bottom: 0.7em; }

.contenido {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.parrafoleft {
  padding: 0.6em;
  border-right: 3px solid orange;
  overflow: auto; }

.parraforight {
  height: 20em;
  overflow: auto;
  padding: 0.6em;
  border-right: 3px solid orange; }

@media screen and (max-width: 600px) {
  h1 {
    font-size: 0.7em; }
  .menu {
    -ms-flex-wrap: no-wrap;
        flex-wrap: no-wrap;
    font-size: 0.4em; } }
