* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?4qpvf4");
  src: url("fonts/icomoon.eot?4qpvf4#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?4qpvf4") format("truetype"), url("fonts/icomoon.woff?4qpvf4") format("woff"), url("fonts/icomoon.svg?4qpvf4#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-phone:before {
  content: "\e942"; }

.icon-envelop:before {
  content: "\e945"; }

.icon-calendar:before {
  content: "\e953"; }

.icon-facebook2:before {
  content: "\ea91"; }

.icon-twitter:before {
  content: "\ea96"; }

header {
  margin: auto;
  width: 75%; }

.logomenu {
  display: inline-block; }

.partemenu {
  float: right; }

.menu ul {
  list-style: none; }

.menu li {
  padding-left: 0.8em;
  padding-right: 0.8em;
  border-right: 1px solid grey;
  display: inline-block;
  font-size: 1.1em; }

.menu a {
  text-decoration: none;
  color: green; }

.menu a:hover {
  border-bottom: 2px solid green;
  color: #000000; }

.info {
  float: right;
  width: 40%; }
  .info p {
    display: inline; }

body {
  margin: auto; }

.imagendestacado img {
  width: 100%; }

.columnas h2 {
  color: #026d38;
  font-family: "custom-two";
  text-align: center; }

.columnas p {
  text-align: center; }

.columna {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
  vertical-align: text-top;
  text-align: center;
  width: 30%;
  display: inline-block; }
  .columna input {
    margin-top: 0.7em;
    background-color: green;
    border-radius: 0.5em;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    color: white; }

.anteriorpost {
  border-bottom: 1px solid #474747; }

footer {
  background-color: #204530; }

.columnasfooter {
  margin: auto; }

.columnafooterimg {
  margin-top: 1%;
  margin-left: 0.7em;
  margin-right: 0.7em;
  margin-bottom: 10%;
  display: inline-block; }
  .columnafooterimg img {
    width: 30%; }

.columnafooter {
  margin-top: 1%;
  margin-left: 0.7em;
  margin-right: 0.7em;
  color: #FFFFFF;
  display: inline-block; }

.anteriopost {
  border-bottom: 1px solid #474747; }

.columnasfooter {
  border-bottom: 1px solid #474747; }

.infocopyright {
  margin-top: 0.7em; }

.copyright {
  display: inline-block; }
  .copyright span {
    color: #FFFFFF; }

.privacidad {
  display: inline-block;
  float: right; }
  .privacidad ul {
    list-style: none; }
  .privacidad li {
    display: inline-block; }
  .privacidad a {
    color: #FFFFFF;
    display: inline-block; }
  .privacidad a:hover {
    border-top: 2px solid white;
    color: #000000; }
