* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

header {
  padding: 1%;
  background-color: #2D3E50; }
  header h1 {
    display: inline-block; }

.cabecera {
  margin: auto;
  padding: 0.7em; }

.menu {
  background-color: #C1392B;
  float: right;
  display: inline-block; }
  .menu a {
    text-decoration: none;
    color: #FFFF; }
  .menu li {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: #FFFF;
    list-style: none;
    display: inline-block; }

body {
  margin-left: 10%;
  margin-right: 10%;
  background-color: #E9E9E9; }

.cuerpo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.columnaleft {
  background-color: #FFFF;
  width: 75%;
  display: inline-block;
  padding: 0.5em; }

.textouno {
  border-bottom: 1px solid black;
  padding-top: 1em;
  padding-bottom: 1em; }

.textodos {
  padding-top: 1em;
  padding-bottom: 1em; }

.columnaright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 25%;
  display: inline-block;
  background-color: #E67F22; }

.cuadrouno {
  background-color: #8d3800; }

.cuadrodos {
  background-color: #8b3800; }

.columnaright::after {
  clear: both; }

footer::before {
  clear: both; }

footer {
  padding: 1%;
  background-color: #2D3E50; }
  footer h1 {
    display: inline-block; }

.cuerpofooter {
  margin: auto;
  padding: 0.7em; }

.footerleft {
  background-color: #C1392B;
  display: inline-block; }
  .footerleft a {
    text-decoration: none;
    color: #FFFF; }
  .footerleft li {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: #FFFF;
    list-style: none;
    display: inline-block; }

.footerright {
  background-color: #E67F22;
  float: right;
  display: inline-block; }
  .footerright a {
    text-decoration: none;
    color: #FFFF; }
  .footerright li {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    color: #FFFF;
    list-style: none;
    display: inline-block; }
