/* line 1, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
body {
  margin-left: auto;
  margin-right: auto;
  width: 90%; }

/* line 7, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
header {
  border-bottom: 1px dotted black; }

/* line 11, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#encabezado h1 {
  color: #51015C; }

/* line 15, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#encabezado img {
  float: right;
  width: 30%;
}

/* line 19, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#encabezado span {
  font-size: 0.7em; }

/* line 23, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#destacado {
  background-color: #e0e0e0;
  padding: 10%; 
  box-sizing: border-box;
  
}

/* line 28, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
.imagendestacado img{
  float: left;
  width: 30%;
  box-sizing: border-box;
  margin-right: 1.5em;
}

.textodestacado h2{
  font-size: 2.5em;
  display: inline;
}

.textodestacado{
  box-sizing: border-box;
  
}

/* line 33, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#seccionesdestacados {
  border-bottom: 2px dashed black;
}

.secciones{
    margin-bottom: 0.7em;
    margin-left:0;
    margin-right: 0;
}

/* line 37, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
.secciones h3 {
  color: red; 
}

/* line 41, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
.secciones input {
  color: red; 
}

/* line 45, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
.secciones img {
  float: left;
  margin: 0.5em; }

  
.seccionuno{
  float: left;
  width: 30%;
  padding: 0.3em;
  display: inline-block;
}

.secciondos{
  width: 30%;
  padding: 0.3em;  
  display: inline-block;    
}

.secciontres{
  width: 30%;
  padding: 0.3em;
  display: inline-block;    
}

/* line 58, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
.seccion img {
  float: left; }

/* line 62, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
.seccion p {
  width: 30%; }

.secciones img{
    float: left;
}

/* line 66, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#imagenes {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%; }

/* line 74, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#imagenes img {
  padding: 0.3em;
  border: 1px solid black; }

/* line 79, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#piedepagina {
  background-color: #e0e0e0;
  padding-left: 0.5em;
  padding-right: 0.5em; }

/* line 85, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#piedepagina p {
  display: inline;
  line-height: 3em;
}


/* line 89, /media/tony/TONY/DAW/DIW/Ejercicios Clase/Ejercicio2/CSS/styles.scss */
#piedepagina span {
  float: right;
  line-height: 3em;
}

#limpiar{
    clear: both;
}

@media (max-width: 500px) {
  #destacado h2{
    font-size: 1.5em ;
  }
  #destacado img{
    width: 50%;
    margin: 0 auto;
  }
  .secciones{
    font-size: 0.7em;
  }

  .secciones input{
    font-size: 0.7em;
    
  }

  
  
  }


  @media (max-width: 600px){
    #piedepagina{
      font-size: 0.7em;
    }
    #piedepagina span{
      vertical-align: bottom;
      background-color: #e0e0e0;
      
    }
  }

/*# sourceMappingURL=styles.css.map */