/* line 1, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
body {
  margin-left: auto;
  margin-right: auto;
  width: 75%; }

/* line 7, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
header {
  border-bottom: 1px dotted black; }

/* line 11, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#encabezado h1 {
  color: #51015C; }

/* line 15, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#encabezado img {
  float: right; }

/* line 19, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#encabezado span {
  font-size: 0.7em; }

/* line 23, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#destacado {
  background-color: #e0e0e0;
  padding: 10%; }

/* line 28, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
.destacado img {
  float: left;
  margin-right: 3em; }

/* line 33, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#seccionesdestacados {
  border-bottom: 2px dashed black;
  height: 30%;
  margin: 0 auto; }

/* line 39, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#seccionesdestacados h3 {
  color: red; }

/* line 43, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#seccionesdestacados input {
  color: red; }

/* line 47, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#seccionesdestacados img {
  float: left; }

/* line 52, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
.secciones {
  margin: auto; }

/* line 56, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
.seccionuno {
  float: left;
  width: 30%;
  display: inline-block; }

/* line 62, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
.secciondos {
  width: 30%;
  display: inline-block; }

/* line 67, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
.secciones img {
  float: left; }

/* line 71, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
.secciontres {
  width: 30%;
  display: inline-block; }

/* line 76, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#imagenes {
  margin: 1.5em; }

/* line 80, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#imagenes img {
  margin: auto;
  padding: 0.3em;
  border: 1px solid black; }

/* line 86, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#piedepagina {
  background-color: #e0e0e0;
  padding-left: 0.5em;
  padding-right: 0.5em; }

/* line 93, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#piedepagina p {
  line-height: 2%;
  display: inline; }

/* line 98, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#piedepagina span {
  line-height: 2%;
  float: right; }

/* line 103, /media/tony/Almacenamiento/GitHub/Practices-HTML-CSS-DIW/Ejercicio2/CSS/styles.scss */
#limpiar {
  clear: both; }

/*# sourceMappingURL=styles.css.map */