* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/fondoheader.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-around;
}

h2 {
    font-size: 1.2em;    
}

span{
    font-weight: bold;    
}

.avatar {
    color: #0b6cd4;
    background-color: rgba(0, 0, 0, 0.555);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0.7em;    
    padding-bottom: 0.7em;
}

.avatar img {
    width: 30%;
}

.infoprincipal {
    width: 40%;
    margin-top: 2em;
}

.infoprincipal h2 {
    color: #0b6cd4;
}

.datospersonales {
    padding: 0.6em;
    border: 3px dotted #04b34d;
    margin-top: 0.5em;
    font-weight: bold;
}

.datospersonales h2 {
    font-family: Arial;
}

.redess a{
    text-decoration: none;
    color: black;
}

main {
    padding: 1em;
    background-color: #cfc0c0;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
}

main h2{
    color: #3000a1;
}

footer{
    color: #ffffff;
    background-color: #b60d45;
    display: flex;
    justify-content: space-between;
}

.contenido{
    margin-left: 0.5em;
}

.experiencia {
    margin-top: 0.5em;
    width: 50%;
    //border-left: 5px solid #c97f11;
}

.experiencias h2 {
    border-bottom: 1px solid #ccc1c1;
}

.habilidad h2 {
    border-bottom: 1px solid #ccc1c1;
}

.modulotitulo {
    border-bottom: 1px solid #000000;
}

.educacion {
    margin-top: 0.5em;
    width: 40%;
    //border-left: 5px solid #c97f11;
}

.comunicacion {}

.infoidiomas {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}

.comunicacion {
    margin-top: 0.5em;
    width: 40%;
    //border-left: 5px solid #c97f11;
}

.comunicacion img {
    width: 20%;
}

.cualidades {
    margin-top: 0.5em;
    width: 40%;
    //border-left: 5px solid #c97f11;
}

.habilidad {
    margin-top: 0.5em;
    width: 40%;
    //border-left: 5px solid #c97f11;
}

.habilidad h3 {
    color: #7e7c00;
}

.habilidades {
    display: flex;
    justify-content: space-around;
}

.modulohabilidades img {
    width: 90%;
}

.habilidadadicional {
}

.intereses {
    margin-top: 0.5em;
    width: 40%;
    //border-left: 5px solid #c97f11;
}

.intereses img {
    width: 70%
}



.modulointereses {
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
}

.interes {
    display: flex;
    flex-direction: column;
    align-items: center;
}
