* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/fondoheader.jpg);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-around;
    
}

h2 {
    font-size: 1.2em;
}

.avatar {
    color: #0b6cd4;
    background-color: rgba(0, 0, 0, 0.555);
    border: 3px solid #0066ff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar img {
    width: 30%;
}

.infoprincipal {
    width: 40%;
    margin-top: 2em;
}

.infoprincipal h2 {
    color: #0b6cd4;
}

.datospersonales {
    padding: 0.6em;
    border: 3px dotted #04b34d;
    margin-top: 0.5em;
    font-weight: bold;
}

.datospersonales h2{
    font-family: Arial;
}

main{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.habilidad h2{
    border-bottom: 1px solid #ccc1c1;
}

.modulotitulo h2{
    border-bottom: 1px solid #ccc1c1;
}   

.educacion{
    margin-top: 0.5em;
    width: 40%;
    border-left: 2px solid #c97f11;    
}

.experiencia {
    margin-top: 0.5em;
    width: 40%;
    border-left: 2px solid #c97f11;
}

.experiencias h2 {
    border-bottom: 1px solid #ccc1c1;
}

.comunicacion {}

.infoidiomas {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
}
.comunicacion{
    margin-top: 0.5em;
    width: 40%;
    border-left: 2px solid #c97f11;    
}

.comunicacion img {
    width: 20%;
}

.cualidades{
    margin-top: 0.5em;
    width: 40%;
    border-left: 2px solid #c97f11;    
}

.habilidad{
    margin-top: 0.5em;
    width: 40%;
    border-left: 2px solid #c97f11;        
}

.habilidad h3{
    color: #065ee2;
}

.habilidades{
    display: flex;
    justify-content: space-around;
}

.modulohabilidades img{
    width: 90%;
}

.habilidadadicional{
}

.intereses{
    margin-top: 0.5em;
    width: 40%;
    border-left: 2px solid #c97f11;    
}

.intereses img{
    width: 90%;
}

.modulointereses{
    display: flex;
    justify-content: center;
    margin-top: 0.7em;
}

.interes{
    display: flex;
    flex-direction: column;
    align-items: center;
}