//Variables globales


//Variables cabecera
$ancho_cabecera: 75%;
$estilo_lista: none;
$padding_lados: 0.8em;
$borde_menu: 1px solid black;
//Fin cabecera

//Variables body
$ancho_imagendestacado: 100%;


//Fin Body

//Variables footer


//Fin Footer