@import "componentes/_variables";
//reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?4qpvf4');
  src:  url('fonts/icomoon.eot?4qpvf4#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?4qpvf4') format('truetype'),
    url('fonts/icomoon.woff?4qpvf4') format('woff'),
    url('fonts/icomoon.svg?4qpvf4#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-phone:before {
  content: "\e942";
}
.icon-envelop:before {
  content: "\e945";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}


header {
    margin: $automargen;
    width: $ancho_cabecera;
}

.info {
    width: $anchoinfo;
    p {
        display: $alinear;
    }
}
.cabecera{
    
}
    .logomenu{
        display: inline-block;
    }

    .menu { 
        display: flex;
        justify-content: center;
        nav{
        }
        ul {
            list-style: $estilo_lista;
        }
        li {
            padding-left: $padding_lados;
            padding-right: $padding_lados;
            border-right: $bordederecho_menu;
            display: $linearbloques;
            font-size: $ancholetra;
        }
        a {
            text-decoration: $ninguno;
            color: $colormenu;
        }
        a:hover {
            border-bottom: $bordeabajo_hover;
            color: $colornegro;
        }
    }

    

body {
    margin: $automargen;
}
    .imagendestacado {
        img {
            width: $ancho_imagendestacado;
        }
    }
    .titulosegundario{
        h2 {
            color: $colorh2;
            font-family: $letrah2;
            text-align: $centrar;
        }
    }

    .columnas {
        display: flex;
        justify-content: center;
        p{
            text-align: $centrar;
        }
    }

    .columna {
        margin-top: $margentop;
        margin-bottom: $margenbottom;
        vertical-align: $alineavertical;
        text-align: $centrar;
        width: $anchocolumna;
        display: $linearbloques;

        input {
            margin-top: $aespacioboton;
            background-color: green;
            border-radius: 0.5em;
            padding-top: 0.4em;
            padding-bottom: 0.4em;
            padding-left: 1em;
            padding-right: 1em;
            color: white;
        }
    }
    .anteriorpost{
        border-bottom: $bordeabajopost;
    }

footer {
    background-color: $colorfondo;
}
    .columnasfooter{
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    
    .columnafooterimg{
        margin-top: 1%;
        margin-left: $ancholadosf;
        margin-right: $ancholadosf;
        margin-bottom: 10%;
        display:  $alinearbloque;
        img{
        width: $anchoimagen;
        }
    }

    .columnafooter {
        margin-top: 1%;
        margin-left: $ancholadosf;
        margin-right: $ancholadosf;
        color: $colorblanco;
        display:  $alinearbloque;
    }

    .anteriopost{
        border-bottom: $bordeabajopost;
    }

    .columnasfooter{
        border-bottom: $bordeabajopost;
    }

    .infocopyright{
        margin-top: $margentopinfcopy;
    }
    .copyright {
        display:  $alinearbloque;
        span{
        
            color: $colorblanco;
        }
    }

    .privacidad {
        display: $alinearbloque;
        float: right;
        ul {
            
            list-style: $ninguno;
        }

        li {
            display: $alinearbloque;
        }
        
        a{
            color: $colorblanco;
            display: $alinearbloque;
        }
        
        a:hover{
            border-top: $bordearribaf;
            color:$colornegro;
        }
    }
