* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

main {
  width: 40%;
  margin: 1em;
  border: 3px solid #ff0000; }

.div1 {
  position: static;
  background-color: #eb8e04; }

.div2 {
  position: relative;
  background-color: #eb8e04; }
